.bonus-points {
	margin-top: 50px;
}

.bonus-points input, .bonus-system input {
	width: 70px;
	margin-left: 20px;
}

.page-content .woocommerce-cart-form tr:not([class]) td {
	flex-wrap: wrap;
}

.bonus-system {
	margin: 0;
	text-align: left;
}
